body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  padding:15px 25px;
  color:black;
  background-color: aqua;
  border-radius:10px;
  border: none;
  margin:15px ;
}

.btn-pink{
  padding:15px 25px;
  color:black;
  background-color: aqua;
  border-radius:10px;
  border: none;
  margin:15px ;
  text-decoration: none;
}

Link{
  text-decoration: none;
}

.pagination{
  margin-top:30px;
}

.news{
  max-width:600px;
  margin: 0 auto;
  padding:50px 20px;
  width:100%;
}

.news-item{
  background-color:#fff;
  border:2px solid rgb(138, 134, 134);
  padding:20px;
  border-radius:10px;
  margin:10px;
  max-width:250px;
}

.prev{
  padding:20px 50px;
}

.next{
  padding:20px 50px;
} 

.paginate{
  max-width:600px;
  margin: 0 auto;
  width:100%;
}